# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized.

Some of popular languages that Data Scientists use are:

1. R
2. Python
3. c++
4. Java
5. SQL
6. Julia
7. Java-ML
8. Javascript
9. Deeplearning4
10. Apache MLlib
11. Weka

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Lab |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then and integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Python
- R
- C++
- Julia
- Java

## Author
Daniel Barraza Marmolejo